@use '@/styles/vars' as vars;

.header {
	display: flex;
	margin: 3.6rem 0 2.6rem;
	justify-content: space-between;
	align-items: center;
}

.item {
	display: flex;
}

.title {
	color: vars.$color-text;
	font-size: 3.6rem;
	font-weight: bold;
	margin-right: 3rem;
}

.refresh {
	position: relative;
	width: 4rem;
	height: 4rem;

	box-shadow: vars.$shadow-1, vars.$shadow-2;
	border-radius: 50%;
	cursor: pointer;

	&Icon{
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 10;
		transform: translate(-50%, -50%);
	}
}

.search {
	width: 100%;
	padding: 1.2rem 4.6rem 1.2rem 1rem ;

	font-size: 1.4rem;
	border-radius: .3rem;
	box-shadow: vars.$shadow-1, vars.$shadow-2;

	&:focus {
		outline: .2rem solid vars.$color-blue;
	}

	&::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }

	&__wrapper {
		position: relative;
		width: 32.1rem;
		height: 4rem;
	}

	&Btn {
		padding: 1rem 1.3rem;
		background: transparent;
		cursor: pointer;

		position: absolute;
		top: 50%;
		right: 0;
		z-index: 10;
		transform: translateY(-50%);

		&:hover {
			.searchIcon {
				color: vars.$color-blue;
			}
		}
	}

	&Icon {
		color: vars.$color-gray;
	}
}